*
{
	margin: 0;
	padding: 0;
}

header
{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(background_image.jpg);
	height: 100vh;
	background-size: auto;
	background-position: center;
}

.main-nav
{
	float: right;
	list-style: none;
	margin-top: 42px;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color:white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.main-nav li.inactive a
{
	border: 1px solid grey;
}

.main-nav li.active a
{
	border: 1px solid grey;
	background-color: grey;
}

.main-nav li a:hover
{
	border: 1px solid white;
}

.logo img
{
	width: 90px;
	height: auto;
	float: left;
	margin-top: 27px;
}

body
{
	font-family: monospace;
}

.row
{
	max-width: 1300px;
	margin: auto;
}

.companyName
{
	position: absolute;
	width: 180px;
	margin-left: 135px;
	margin-top: -130px;
}

h1
{
	color: teal;
	filter: brightness(130%);
	font-family: Verdana, Geneva, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 28px;
	text-align: left;
	margin-top: 150px;
}

.pageHeaderText
{
	position: absolute;
	width: 750px;
	margin-left: 90px;
	margin-top: 62px;
}

h2
{
	color: white;
	font-family: "Roboto", sans-serif;
	font-size: 25px;
	text-decoration: underline;
	text-align: left;
	margin-top: 150px;
}
pre
{
	color: silver;
	filter: brightness(110%);
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	text-align: left;
	margin-top: 17px;
	margin-left: -195px;
}

.aboutLogo1 img
{
	position: static;
	padding: 20px 35px;
	width: 130px;
	height: auto;
	float: left;
	margin-top: 360px;
}
.aboutLogo2 img
{
	position: static;
	padding: 20px 35px;
	width: 130px;
	height: auto;
	float: left;
	margin-top: 300px;
}

.table th
{
	border: 1px solid white;
	color: white;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	padding: 20px 40px;
}

a
{
	color: teal;
}

figure {
  float: right;
  width: 100px;
  text-align: center;
  font-style: italic;
  font-size: 13px;
  filter: invert(1);
  text-indent: 0;
  margin: 0px;
  padding: 35px 35px;
  clear: both;
}
.iconhead
{
	font-size: 25px;
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 20px;
}